<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    

<!-- Modal Item View -->

	
						<div class="modal fade item_view" id="item_view" th:fragment="modalterceiros">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h3>
												<i class="material-icons" style="font-size:36px">business</i>
												Dados da Empresa
											</h3>
									</div>
									<div class="modal-body">
										<div class="row">
							                    <div class="col-md-6 item_img">
							                        <img src="../../images/Logo_peixoto.png" class="img-responsive"></img>
							                    </div>
							                    <div class="col-md-6 item_content">
							                        <h3>
							                            <span>Peixoto Atacado</span>
							                            <!--span class="input-group-btn">
							                                <button class="btn btn-danger btn-xs pull-right"; data-dismiss="modal" data-toggle="modal" data-target="#item_remove"><i class="glyphicon glyphicon-remove" ></i></button>
							                                <button class="btn btn-warning btn-xs pull-right"; data-dismiss="modal" data-toggle="modal" data-target= "#item_edit"><i class="glyphicon glyphicon-edit" ></i></button>
							                            </span-->
							                        </h3>
							                        <h5>Endereço Empresa</h5>
							                        <p>Av. José Andraus Gassani. nº 900</p>
							                        <p>Ramal: 5518</p>
							                        <p>Estado: Minas Gerais - MG</p>
							                        <p>Cidade: Uberlandia</p>
							                        <p>Bairro: Industrial</p>
							                    </div>
							                    <div class="col-sm-6">
							                    <h3>
							                    <i class="fa fa-map-marker" style="font-size:24px"></i>
							                    Localização: 
							                    </h3>
							                    </div>
							                    
							                    <!-- Div Api Google -->
							                    
							                    <div class="col-sm-12">
							                    	<input id="address" type="hidden" value="Uberlandia, MG">
							                    	
      											<!-- <input id="submit" type="button" value="Geocode"> -->
							                    	<div id="map"></div>
							                    </div>
							                    
							            </div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Fecha container do primeiro modal -->



</html>