<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    

<!-- Modal Item View -->

	
						<div class="modal fade item_view" id="item_view" th:fragment="modalterceiros">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h3>
												<i class="material-icons" style="font-size:36px">business</i>
												Dados da Empresa
											</h3>
									</div>
									<div class="modal-body">
										<div class="row" style="height:680px" >
							                    <div class="col-md-3 item_img">
							                    	<br>
							                    	<br>
							                        <img src="../../images/Logo_peixoto.png" class="img-thumbnail"></img>
							                    </div>
							                    <div class="col-md-9 item_content">
							                        <!-- <h3>
							                            <span>Peixoto Atacado</span>
							                        </h3>
							                        <h5>Endereço Empresa</h5>
							                        <p>Av. José Andraus Gassani. nº 900</p>
							                        <p>Ramal: 5518</p>
							                        <p>Estado: Minas Gerais - MG</p>
							                        <p>Cidade: Uberlandia</p>
							                        <p>Bairro: Industrial</p> -->
							                        
							                          <table class="table">
													    <thead>
													      <tr>
													        <th colspan="5"><h3>Peixoto Atacado</h3></th>
													      </tr>
													    </thead>
													    <tbody>
													      <tr>
													        <td><b>Endereço Empresa:</b> Av. José Andraus Gassani. nº 900</td>
													        <td><b>Estado:</b> Minas Gerais - MG</td>
													      </tr>
													      <tr>
													        <td>
													        	<label>
													        		<b>Cidade:</b>
													        	</label> 
													        	Uberlandia
													        </td>
													        <td><b>Bairro:</b> Industrial</td>
													      </tr>
													      <tr>
													      	<td><b>Horario de funcionamento:</b></td>
													      	<td colspan="3"><b>Segunda à Sexta:</b> 08:00 às 17:30 hrs</td>
													      </tr>
													      <tr>
													        <td><b>Telefones:</b></td>
													        <td colspan="2"><b>Sábado:</b> 08:00 às 12:00 hrs</td> 
													      </tr>
													      <tr>
													        <td colspan="4">(34) 3218-5500</td>
													      </tr>
													      <tr>
													        <td><b>E-mail: </b>peixoto@peixoto.com.br</td>
													        <td><b>Site: </b>www.peixoto.com.br</td> 
													      </tr>
													      
													    </tbody>
													  </table>
							                        
							                    </div>
							                    <div class="col-sm-6">
							                    <h3>
							                    
							                    <i class="fa fa-map-signs" style="font-size:24px"></i>
							                    Localização: 
							                    </h3>
							                    </div>
							                    
							                    <div class="maps">
							                    	<div class="h_iframe" >
							                    		<iframe th:src="@{/maps}" class="embed-responsive-item" height="327px" width="100%" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 SPACE=0 FRAMEBORDER=0 SCROLLING=NO></iframe>
							                    		<!-- <div th:replace="fragments/mapa/maps :: maps"></div> -->
							                    	</div>
							                    </div>
							            </div>
							           <!--  <div class="row"> -->
							            	
							            	<!-- Div Api Google -->
							                    
							            
							            <!-- </div> -->
							            
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Fechar</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Fecha container do primeiro modal -->



</html>