<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Lista Contatos PXT</title>
	
	<!-- Css da página -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index_estilo.css}"/>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	
	
</head>
<body style="background-color:#f2f2f2" >
  
  <div class="wrapper">
    <div th:replace="/fragments/header :: header"></div>
    
    <div class="content-wrapper">
      <section layout:fragment="conteudo"></section>
      
    </div>
  </div>
  
  	<!-- Api Google Maps - Usada em Terceiros -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	
    <script type="text/javascript" th:src="@{/js/map.js}"></script>
    
</body>
</html>