<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Lista Contatos PXT</title>
	
	<!-- Css da página -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index_estilo.css}"/>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
	
	<body style="background-color:#f2f2f2">
	
	<!-- Navbar Fixa -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19)">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <i class="fa fa-address-book" style="font-size:20px"></i> Contatos PXT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          	<ul class="nav navbar-nav">
                <ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#home">Ramais</a></li>
					<li><a data-toggle="tab" href="#menu1">Corporativos</a></li>
					<li><a data-toggle="tab" href="#menu2">Filiais</a></li>
					<li><a data-toggle="tab" href="#menu3">Gerentes de Vendas</a></li>
					<li><a data-toggle="tab" href="#menu4">Terceiros</a></li>
					
				</ul>
            </ul>
			 <form class="navbar-form navbar-left" action="#">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar" name="busca">
						<div class="input-group-btn">
							<button id="busca" class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search" style="font-size:14px"></i>
							</button>
						</div>
				</div>
			</form>
				<button class="btn btn-info navbar-btn navbar-right" style="font-size:16px"><i class="fa fa-user"></i> Login</button>
        </div>
		<!--/.nav-collapse -->
		
      </div>
    </nav>

    <div class="container">

      <!-- Componente Main -->
      <div id="middle_content" class="col-sm-12">
		
		<ul id="lista_setores">
			  <li id="lista"><a href="#">T.I</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Controladoria</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">R.H</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Diretoria</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Disk Center</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Logistica</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Financeiro</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Comercial</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">M&A</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Juridico</a></li>
			  <li id="lista">|</li>
			  <li id="lista"><a href="#">Portaria</a></li>
			  <!-- Deverá abrir um modal com formulario para fazer a solicitação -->
			  <li id="lista" style="float: right"><button class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#ModalCadastroNovo" style="float: right"><i class="fa fa-plus-square" style="font-size:16px"></i> Solicitar Cadastro</button></li>
		</ul>
		<br>
		<br>
		<br>
		
		<div class="table-responsive">
			  <table class="table table-striped">
				
				<thead>
					<tr>
					  <th scope="col">Nome</th>
					  <th scope="col">Cargo</th>
					  <th scope="col"><i class="fa fa-phone-square" style="font-size:17px"></i> Ramal</th>
					  <th scope="col"><span class="glyphicon glyphicon-envelope"></span> E-mail</th>
					  <th scope="col">Edit</th>
					  <th scope="col">Delete</th>
					</tr>
				</thead>
			  <tbody>
					<tr>
					  <td>Allefe Jose Soares Siqueira</td>
					  <td>Operador de Data Center</td>
					  <td>5532</td>
					  <td>allefejss@peixoto.com.br</td>
					  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
					  <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
					</tr>
					
					<tr>
					  <td>Allefe Jose Soares Siqueira</td>
					  <td>Operador de Data Center</td>
					  <td>5532</td>
					  <td>allefejss@peixoto.com.br</td>
					  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
					  <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
					</tr>
			   </tbody>
				
			  </table>
		</div>
        
        <!-- Modal Solicitar Cadastro Novo-->
		  <div class="modal fade" id="ModalCadastroNovo" role="dialog">
			<div class="modal-dialog modal-lg">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title"><i class="fa fa-plus-square" style="font-size:16px"></i> Solicitar Novo Cadastro</h4>
				</div>
				<div class="modal-body">
				  <div class="form-group">
				  	<form>
                    	<label>Nome: </label>
                      	<input class="form-control" placeholder="Nome...">
                    </form>
                  </div>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div> <!-- Fecha container do primeiro modal -->
        
        
        <!-- Ínicio Modal de Edição -->
        
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      		<div class="modal-dialog">
    			<div class="modal-content">
          			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        				<h4 class="modal-title custom_align" id="Heading">Solicitar edição deste Registro</h4>
      				</div>
          			<div class="modal-body">
          				<div class="form-group">
        					<input class="form-control " type="text" placeholder="Mohsin">
        				</div>
        					<div class="form-group">
        
        						<input class="form-control " type="text" placeholder="Irshad">
        					</div>
        					<div class="form-group">
        						<textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        					</div>
      				</div>
			          	<div class="modal-footer ">
			        		<button type="button" class="btn btn-default btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-refresh"></span> Solicitar Atualização</button>
			      		</div>
        		</div>
    			<!-- /.Fim modal-content --> 
  			</div><!-- /.Fim modal-dialog --> 
      			
    	</div>
        <!-- Fim modal Edição -->
        
        
        <!-- Ínicio Modal de exclusão -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      		<div class="modal-dialog">
    			<div class="modal-content">
          			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        				<h4 class="modal-title custom_align" id="Heading">Excluir este Registro?</h4>
      				</div>
          			<div class="modal-body">
       
       					<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza que deseja solicitar a exclusão deste registro?</div>
       
      				</div>
        			<div class="modal-footer ">
        				<button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Sim</button>
        				<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Não</button>
      				</div>
        		</div><!-- /.Fim modal-content --> 
    			
        	</div><!-- /.Fim modal-dialog --> 
      		
    	</div>
        
      </div>

    </div> <!-- fecha /container -->
	<!-- Fim modal Exclusão -->
	
	</body>
</html>