@charset "ISO-8859-1";

body {
	
  
  padding-top: 70px;
  
  
  background-image: url("../../images/bg_body.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

#middle_content{

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	border-radius: 8px;
}
#busca{
	height: 34px;
}

#lista {
    float: left;
    text-align: center;
    padding: 4px;
    display: block;
    
}

#lista a{
text-decoration: none;
}

<!-- Css Modal Adicionar Cadastro Novo -->


.process-step .btn:focus{outline:none}
.process{display:table;width:798px;height:100px;}
.process-row{display:table-row}
.process-step button[disabled]{opacity:1 !important;filter: alpha(opacity=100) !important}
.process-row:before{top:40px;bottom:0;position:absolute;content:" ";width:97%;height:1px;background-color:#ccc;}
.process-step{display:table-cell;text-align:center;position:relative;width:120px;height:100px;}
.process-step p{margin-top:4px}
.btn-circle{width:80px;height:80px;text-align:center;font-size:12px;border-radius:50%}
#menu1, #menu2, #menu3, #menu4, #menu5{width:770px;height:max-content;position:relative} 